* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
}

.hidden {
  visibility: hidden;
}

.link {
  color: #3a91e2;
  text-decoration: none;
}

.link:visited,
.link:hover,
.link:active {
  color: #3a91e2;
}

.main {
  display: flex;
  position: relative;
  background: -webkit-linear-gradient(113deg, #5449b6 0%, #6ba8dc 100%);
  background: -moz-linear-gradient(113deg, #5449b6 0%, #6ba8dc 100%);
  background: -o-linear-gradient(113deg, #5449b6 0%, #6ba8dc 100%);
  background: -ms-linear-gradient(113deg, #5449b6 0%, #6ba8dc 100%);
  background: linear-gradient(-23deg, #5449b6 0%, #6ba8dc 100%);
  margin-right: -130px;
  width: calc(52% + 130px);
  min-height: 100%;
}

.main::after {
  position: absolute;
  height: 100vh;
  width: 100vw;
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  background-color: transparent;
  background: url(./img/ellips.svg) bottom no-repeat;
  background-size: 100% 80%;
}

.main__inner {
  z-index: 1;
  text-align: center;
  margin: auto;
  position: relative;
  padding-right: 50px;
}

.main__container {
  margin-top: 25px;
}

.message {
  height: 16.5px;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  line-height: 50px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #ffffff;
}

.link-button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 122px;
  height: 36px;
  margin: 0 10px;
  line-height: 36px;
  font-size: 12px;
  font-weight: 700;
  opacity: 0.65;
  border-radius: 3px;
  box-shadow: 0px 2px 6.5px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff17;
}

.link-button:visited,
.link-button:hover,
.link-button:active {
  color: white;
}

.slider {
  overflow: hidden;
  position: relative;
  width: calc(100% - 20px);
  height: 80vh;
  margin-top: 10vh;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  /* border: 1px red solid; */
}

.slider__content {
  display: flex;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 100%;
  transition: 0.5s ease;

  /* border: 2px yellow solid; */
}

.slider__element {
  margin-top: 10vh;
  width: 50%;
  padding-right: 110px;
  /* height: 100%; */

  /* border: 3px green solid; */
}

.shift {
  left: -100%;
}

.btn--return {
  position: absolute;
  left: 0;
  top: -10vh;
  border: none;
  background: transparent;
}

.btn--return:hover,
.link:hover {
  cursor: pointer;
}

.return-img {
  transform: rotate(180deg);
}

.aside {
  z-index: 99999;
  display: flex;
  min-width: 500px;
  width: 48%;
  padding-left: 120px;
  min-height: 100%;
  background-image: url(./img/right_block.svg);
  background-origin: border-box;
  background-size: cover;
}

.aside__inner {
  position: relative;
}

.form {
  position: relative;
  /* margin: auto; */
  /* max-width: 350px; */
}

.form__greeting {
  font-size: 32px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.88;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 17px;
}

.form__message {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #616983;
}

.form__field-box {
  margin: 46px 0;
}

.form__text-input {
  position: relative;
  border: none;
  border-bottom: #61698338 1px solid;
  width: 100%;
  background: none;
  padding: 23px 0;
  margin: 23px 0;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.41;
  letter-spacing: normal;
  text-align: left;
  text-shadow: 0px 0px 0px #616983;
  -webkit-text-fill-color: transparent;
}

.form__text-input:focus {
  outline: 0;
  text-shadow: 0px 0px 0px white;
}

.form__text-input[type="email"]:focus {
  border-bottom: rgb(77, 176, 131) 1px solid;
}
.form__text-input[type="password"]:focus {
  border-bottom: rgb(65, 174, 250) 1px solid;
}
.form__text-input[type="email"] {
  color: rgb(77, 176, 131);
}
.form__text-input[type="password"] {
  color: rgb(65, 174, 250);
}

.form__text-input::placeholder {
  color: #616983 !important;
}

.form__text-input--error {
  border-bottom: red 1px solid;
}

.form__button {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.17;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  opacity: 0.82;
  border-radius: 3.5px;
  background-image: linear-gradient(284deg, #54c3fe, #127ef9);
}

.form__button--image {
  height: 11px;
  margin-left: 7px;
}

.input__container {
  position: relative;
}

/* error message */

.error__container {
  position: absolute;
}

.error__message {
  top: calc(50% - 20px);
  right: -110px;
  padding: 6px 8px;
  position: absolute;
  background: rgb(234, 235, 237);
  border: none;
  max-width: 100px;
  /* height: 40px; */
  border-radius: 3px;
  font-size: 10px;
  display: table-cell;
  vertical-align: middle;
}
.error__message:after,
.error__message:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 30%;
}
.error__message:before {
  left: -8px;
  margin-top: -8px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  /* border-right: 8px solid #830303; */
}
.error__message:after {
  left: -7px;
  margin-top: -7px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid rgb(234, 235, 237);
}
